body {
    background: rgb(3,3,88);
    background: linear-gradient(180deg, rgba(3,3,88,1) 39%, rgba(12,32,93,1) 72%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    background-color: #3c2a8b;
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
    box-shadow: 3px 3px 3px black;
    align-items: center;
    height: 6vw;
    width: 99.9vw;

}



.menu {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 90vw;
}

body, html {
    overflow-x: hidden !important;
    }

    @media (max-width: 1024px) {
        body, html {
        overflow-x: hidden!important;
        }

        header {
            height: 10vw;
        }

        main > .acao {
            padding: 10vw;
            padding-left: 35vw;
        }

        main > .acao > img {
            width: 25vw;
        }

        main > .acao > img:hover {
            width: 25vw;
        }

        main > .suspense {
            padding: 10vw;
            padding-left: 35vw;
        }

        main > .suspense > img {
            width: 25vw;
        }

        main > .suspense > img:hover {
            width: 25vw;
        }

       body > h2 {
        margin-top: 20vw;
       }

       main > .infantil {
        padding: 10vw;
        padding-left: 35vw;
       }

       main > .infantil > img {
        width: 25vw;
       }

       main > .infantil > img:hover {
        width: 25vw;
       }

       main > .misterio {
        padding: 10vw;
        padding-left: 35vw;
       }

       main > .misterio > img {
        width: 25vw;
       }
       
       main > .misterio > img:hover {
        width: 25vw;
       }

    }
       



li {
    list-style: none;
    padding: 1vw;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin: 1.5vw;
}

a:hover {
    text-decoration-line: underline;
    color: rgb(215, 238, 14);
    font-weight: 600;
    margin: 1.5vw;
}


.logo-menu > a > img {
    height: 6vw;
    margin-left: -1vw;
}

.logo-menu > a > img:hover {
    height: 6vw;
    margin-left: -1vw;
    transform: scale(0.9);
    transition-duration: 0.5s;
}

h2 {
    color: white;
    text-align: center;
    margin-top: 7vw;
    font-size: 40px;
}




.acao{

    background-color: #69696957;
    margin-top: 2vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    display: flex;
    overflow-x: scroll;
    padding-left: 60vw;
    box-shadow: 1px 1px 1px black;

}

.acao::-webkit-scrollbar {
    display: none
}

.acao > img {
    width: 13vw;
    margin-left: 20vh;
    border: 2px solid black;
}

.acao > img:hover {
    width: 13vw;
    margin-left: 20vh;
    transform: scale(1.02);
    transition-duration: 0.8s;
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px black;
}

main > h3 {
    color: white;
    font-size: 30px;
    margin-top: 25vh;
    margin-left: 20px;
}

.suspense {
    background-color: #69696957;
    margin-top: 2vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    display: flex;
    overflow-x: scroll;
    padding-left: 60vw;
    box-shadow: 1px 1px 1px black;
}

.suspense > img {
    width: 13vw;
    margin-left: 20vh;
    border: 2px solid black;
}

.suspense > img:hover {
    width: 13vw;
    margin-left: 20vh;
    transform: scale(1.02);
    transition-duration: 0.8s;
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px black;
}

.suspense::-webkit-scrollbar {
    display: none
}

.infantil{

    background-color: #69696957;
    margin-top: 2vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    display: flex;
    overflow-x: scroll;
    padding-left: 60vw;
    box-shadow: 1px 1px 1px black;

}

.infantil::-webkit-scrollbar {
    display: none
}

.infantil > img {
    width: 13vw;
    margin-left: 20vh;
    border: 2px solid black;
}

.infantil > img:hover {
    width: 13vw;
    margin-left: 20vh;
    transform: scale(1.02);
    transition-duration: 0.8s;
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px black;
}

.misterio{

    background-color: #69696957;
    margin-top: 2vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    display: flex;
    overflow-x: scroll;
    padding-left: 60vw;
    box-shadow: 1px 1px 1px black;

}

.misterio::-webkit-scrollbar {
    display: none
}

.misterio > img {
    width: 13vw;
    margin-left: 20vh;
    border: 2px solid black;
}

.misterio > img:hover {
    width: 13vw;
    margin-left: 20vh;
    transform: scale(1.02);
    transition-duration: 0.8s;
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px black;
}


footer {
    background-color: #3c2a8b;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 3px black;
    align-items: center;
    height: 9vw;
    box-shadow: 0px 0px 5px 0px black;
    width: 100vw;
    margin-top: 5vw;

}

footer>a {
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    margin: 2vw;
    align-items: center;
    padding: 1vw;
}

footer>a:hover {
    background-color: black;
    color: white;
    margin: 2vw;
    transform: scale(0.9);
    transition-duration: 0.5s;
    text-decoration-line: none;
    box-shadow: 0px 0px 10px black;
}

.vertical {
    border-left: 2px solid white;
    height: 6vw;
    justify-content: center;

}
