body {
    background-color: #211847;
    display: flex;
    flex-direction: column;
    width: 100%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #3c2a8b;
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
    box-shadow: 3px 3px 3px black;
    align-items: center;
    height: 6vw;

}



.menu {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 90vw;
}





li {
    list-style: none;
    padding: 10px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin: 20px;
}

a:hover {
    text-decoration-line: underline;
    color: rgb(215, 238, 14);
    font-weight: 600;
    margin: 20px;
}


.logo-menu > a > img {
    height: 6vw;
    margin-left: -1vw;
}

.logo-menu > a > img:hover {
    height: 6vw;
    margin-left: -1vw;
    transform: scale(0.9);
    transition-duration: 0.5s;
}



.novidade > h2 {
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}

.novidade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    background-image: url(img/the-last-of-us-hbo-key-art-1080.webp);
    background-size: cover;
    width: 50vw;
    height: 25vw;
    border-radius: 15px;
    margin-top: 20px;
}

/*.image:hover {
content: url(img/tlougif2.gif);
} */

.image:hover {
    background-image: url(img/the-last-of-us-hbo-key-art-1080.webp);
    background-size: cover;
    width: 50vw;
    height: 25vw;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0px 0px 0px 2px black;
    transition-duration: 0.2s;
    cursor: pointer;
}

.filmes{

    background-color: #69696957;
    margin-top: 2vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    display: flex;
    overflow-x: scroll;
    padding-left: 550px;
    box-shadow: 1px 1px 1px black;

}

.filmes::-webkit-scrollbar {
    display: none
}

.filmes > img {
    width: 13vw;
    margin-left: 20vh;
    border: 2px solid black;
}

.filmes > img:hover {
    width: 13vw;
    margin-left: 20vh;
    transform: scale(1.02);
    transition-duration: 0.8s;
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px black;
}

main > h3 {
    color: white;
    font-size: 30px;
    margin-top: 25vh;
    margin-left: 20px;
}

.series {
    background-color: #69696957;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    display: flex;
    overflow-x: scroll;
    padding-left: 550px;
    box-shadow: 1px 1px 1px black;
}

.series > img {
    width: 200px;
    margin-left: 20vh;
    border: 2px solid black;
}

.series > img:hover {
    width: 200px;
    margin-left: 20vh;
    transform: scale(1.02);
    transition-duration: 0.8s;
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px black;
}

.series::-webkit-scrollbar {
    display: none
}

.animes{

    background-color: #69696957;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    display: flex;
    overflow-x: scroll;
    padding-left: 550px;
    box-shadow: 1px 1px 1px black;
    margin-bottom: 100px;

}

.animes::-webkit-scrollbar {
    display: none
}

.animes > img {
    width: 200px;
    margin-left: 20vh;
    border: 2px solid black;
}

.animes > img:hover {
    width: 200px;
    margin-left: 20vh;
    transform: scale(1.02);
    transition-duration: 0.8s;
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px black;
}


footer {
    background-color: #3c2a8b;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 3px black;
    align-items: center;
    height: 90px;
    box-shadow: 0px 0px 5px 0px black
}

footer > a {
    color: white;
    margin: 100px;
}

footer > a:hover {
    color: white;
    margin: 100px;
}


